<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<body bgcolor="black" >
<p align="center" style="color:cyan">contacts_data</p>
<table border="1" align="center" style="color:cyan">
    <tr>
        <th>id</th>
        <th>avatar</th>
        <th>first_name</th>
        <th>last_name</th>
        <th>phone</th>
        <th>email</th>
        <th>company</th>
        <th>job_title</th>
    </tr>
    {% for d in data %}
    <tr>
        <td>{{d.id}}</td>
        <td>{{d.avatar}}</td>
        <td>{{d.first_name}}</td>
        <td>{{d.last_name}}</td>
        <td>{{d.phonenumber}}</td>
        <td>{{d.email}}</td>
        <td>{{d.company}}</td>
        <td>{{d.job_title}}</td>
    </tr>
    {% endfor %}
</table>
</div>
</body>
</html>