<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<body bgcolor="black" >
<p align="center" style="color:cyan">contacts_data</p>
<table border="1" align="center" style="color:cyan">
    <tr>
        <th>id</th>
        <th>avatar</th>
        <th>first_name</th>
        <th>last_name</th>
        <th>phone</th>
        <th>email</th>
        <th>company</th>
        <th>job_title</th>
        <th>OPERATIONS</th>
    </tr>
    {% for d in data %}
    <tr>
        <td>{{d.id}}</td>
        <td>{{d.avatar}}</td>
        <td>{{d.first_name}}</td>
        <td>{{d.last_name}}</td>
        <td>{{d.phonenumber}}</td>
        <td>{{d.email}}</td>
        <td>{{d.company}}</td>
        <td>{{d.job_title}}</td>
        <td><a href="/update/{{d.id}}" class="btn btn-success btn-lg">update</a>
            <a href="/delete/{{d.id}}" class="btn btn-success btn-lg">delete</a></td>
    </tr>
    {% endfor %}
</table><br>
<h3 style="color:cyan">To add data<a href="http://127.0.0.1:8000/inputt/">Click Here</a></h3>
</div>

</body>
</html>